h1{
    color: red;
    text-align: right;
}
h2{
    color: #630cc4;
}
h3 {
    color: rgb(0, 255, 0);
    background-color: yellow;
}

.paragraph_1 {
    background-color: blue;
    color: white;
    font-size: 20px;
}

.paragraph_2 {
    background-color: green;
}

.paragraph_3 {
    border-top-style: solid;
    border-top-color: blueviolet;
    border-left-style: dotted;
    border-left-color: aquamarine;
    border-bottom-style: dashed;
    border-bottom-color: black;
    border-bottom-width: 10px;
}
.paragraph_4 {
    border-style: dashed dotted solid double; /* top right bottom left */
    border-width: 5px;
    padding: 20px 30px 20px 30px;
    margin: 20px 50px 100px 30px;
}

.first_link {
    color: #000;
    text-decoration: none;
    background-color: blue;
    font-size: 20px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
}

.first_link:hover {
    background-color: #4285f4;
}
